body{
    background: rgb(0, 204, 255);
    font-family: 'Special Elite',cursive;
}
.header_div{
    background:whitesmoke ;
    color: rgb(255, 0, 191);
}
p{
    font-family: 'Roboto',sans-serif;
    color: darkgrey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto',sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bolder;
    margin: 30px;
    width: 130px;
}
.footer{
    background:whitesmoke ;
    color: rgb(246, 59, 184);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 3;
    text-shadow: 5px 5px 5px black;
    position: fixed;
}